.container {
  display: flex;
  flex-direction: row;
  flex: 1
}
.page {
  background-color: aliceblue;
  height: 100vh;
  margin: 20px;
}
@media screen and (max-width: 1023px) {
  .container {
    flex-direction: column;
  }
  .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
}
}